@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
.back {
  background-color: rgb(252, 252, 252);
}
.list {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  border-radius: 30px;
  background-color: white;
  margin-bottom: 3rem;
  height: 300px;
  width: 100%;
  justify-content: space-between;
}
.imgBox {
  padding: 1rem 2rem;
  width: 320px;
  min-width: 320px;
  height: 100%;
  display: flex;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 2px 2px 5px rgba(173, 173, 173, 0.212);

  &__image {
    width: 100%;
    width: 100%;
    display: flex;
   
  }
}
.nomeBox{
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  &__nome{
    font-size: xx-large;
    font-family: 'Kanit', sans-serif;
      text-transform: uppercase;
      color: #2b7bf6;
      text-align: center;
      font-weight: 900;
  }
}
.classBox{
  width: 30%;
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
  gap: 10px;

  &__class{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: grey;
    font-size: larger;
  }
  &__class svg{
    opacity: 0.4;
  }


  &__classInsta{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: grey;
    font-size: larger;
    text-decoration: underline white;
  }
  &__classInsta:hover{
    color: #2b7bf6;
    text-decoration: underline #2b7bf6;
  }
}
.description{
  margin-top: 20px;
  color: grey;
  text-align: center;
}