@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.back {
}

.ongBox {
  padding: 2rem 10%;
  background-color: rgb(206, 222, 253);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center; 
  &__title {
    font-family: "Nanum Pen Script";
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
  &__subtitle {
    font-family: cursive;
  }
}
.searchBox {
  padding-top: 3rem;
  padding-left: 10%;
  padding-right: 10%;
}
.br {
  height: 3px;
  background: linear-gradient(to bottom, #b4b4b4, transparent);
}

.animais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4rem;
  gap: 20px;
}


.button {
  margin-top: 15px;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #2b7bf6;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: cursive;
}

.button:before {
  content: '';
  background: linear-gradient(45deg, #0066ff,  #3083ff,  #5d9cfc,  #aaccff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button:active {
  color: #000
}

.button:active:after {
  background: transparent;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:  #2b7bf6;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}